<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap-css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/custom-css.css">
        <title>Add new club</title>
    </head>
    
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="#">ClubHub</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="organizations.html">Organizations</a>
                <a class="nav-item nav-link" href="#">Events</a>
            </div>
        </div>
        </nav>
        <div class="container">
            <div class="page-header" style="margin-top:30px;margin-bottom:30px;">
                <a href="organizations.html" class="btn btn-outline btn-sm btn-lightBlue" style="margin-bottom:20px;margin-left:20px">Back</a>
                <h1>Add a club</h1>
            </div>
            <div class="container col-6">
                <div class="card">
                    <div class="card-block">
                        <form>
                            <div class="form-group">
                                <label for="organizationName">Organization name</label>
                                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your club's name">
                            </div>
                            <div class="form-group">
                                <label for="organizationSite">External website</label>
                                <input type="link" class="form-control" id="exampleInputPassword1" placeholder="Add a link to your club's site">
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea">Club description</label>
                                <textarea class="form-control" id="exampleTextarea" rows="4" placeholder="Tell us about your club"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="tags">Add tags</label>
                                <input type="tags" class="form-control" id="exampleInputPassword1" placeholder="Separate with commas">
                            </div>
                            <button type="button" class="btn btn-primary" style="background-color:#5bc0de;border-color:#5bc0de">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>