<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/valencia-css.css">
</head>

<body>
<div class="container">
    <div class="page-header" style="margin-top:30px;margin-bottom:50px;">
        <h1>All organizations</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <a href="#"><h4 class="card-title">Filters</h4></a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {{# each clubs }}
            <div class="card">
                <div class="card-block mb-3">
                    <a href="/organizations/{{_id}}"><h4 class="card-title">{{ name }}</h4></a>
                    <p class="card-text">{{ description }}</p>
                    <a href="#" class="card-link">{{ url }}</a>
                </div>
            </div>
            {{/each}}
    </div>
    </div>
</div>
</body>

</html>