<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap-css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/custom-css.css">
        <title>Individual event page</title>
    </head>
    
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="#">ClubHub</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="organizations.html">Organizations</a>
                <a class="nav-item nav-link" href="#">Events</a>
            </div>
        </div>
        </nav>
        <div class="container">
            <div class="page-header" style="margin-top:30px;margin-bottom:30px;">
                <button href="#" type="button" class="btn btn-outline-info btn-sm" style="margin-bottom:20px;margin-left:20px">Back</button>
                <h1>Event name</h1>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <h5 class="card-header">About</h5>
                        <div class="card-block">
                            <p>Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card mb-3">
                        <h5 class="card-header">When</h5>
                        <div class="card-block">
                        </div>
                    </div>
                    <div class="card mb-3">
                        <h5 class="card-header">Location</h5>
                        <div class="card-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>