<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap-css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap-css/bootstrap.css">
        <title>Organizations</title>
    </head>

    <body>
        <div class="container">
            <div class="page-header" style="margin-top:30px;margin-bottom:50px;">
                <h1>All organizations</h1>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">Filter by tags</h5>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Tag 1</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Tag 2</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-block">
                            <a href="individualOrganizationPage.html"><h4 class="card-title">Club1 name</h4></a>
                            <p class="card-text">Club description here</p>
                            <a href="#" class="card-link">club1.com</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-block">
                            <a href="#"><h4 class="card-title">Club2 name</h4></a>
                            <p class="card-text">Club description here</p>
                            <a href="#" class="card-link">club2.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>