<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap-css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/valencia-css.css">
        <title>Organizations</title>
    </head>

    <body>
       <header>
            <nav>
                <div class="row">
                    <ul class="main-nav">
                        <a class="btn btn-ghost" style="margin-top:20px;margin-bottom:40px;"href="#">Add Club +</a>
                    </ul>
                </div>
            </nav>
            <div class="hero-text-box" style="margin-top:20px;margin-bottom:40px;margin-left:100px;">
                <h1>Clubs & Organizations</h1>
            </div>
        </header>
        
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title">Filter by tags</h5>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Arts & Sciences</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Engineering</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Wharton</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Nursing</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Sports</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-block">
                            <a href="individualOrganizationPage.html"><h4 class="card-title">Wharton Investment and Trading Group (WITG)</h4></a>
                            <p class="card-text">The Wharton Investment and Trading Group is dedicated to educating students about the basics of investing while providing a team structure that helps create an undergraduate investing community.</p>
                            <a href="http://www.pennwitg.com" class="card-link" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-block">
                            <a href="#"><h4 class="card-title">Penn Electric Racing</h4></a>
                            <p class="card-text">Penn Electric Racing is the University of Pennsylvania's Formula SAE Electric Team. Each year, we build award-winning electric racecars on a mission to prove that electric vehicles are the future of transportation.</p>
                            <a href="http://www.pennelectricracing.com" class="card-link" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-block">
                            <a href="#"><h4 class="card-title">Student Nurses At Penn (SNAP)</h4></a>
                            <p class="card-text">SNAP is a chapter of the National Student Nurses Association. Our members have taken advantage of leadership opportunities at the state and national level, and have also presented resolutions at NSNA conventions.</p>
                            <a href="https://www.nursing.upenn.edu/snap" class="card-link" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-block">
                            <a href="#"><h4 class="card-title">Penn Debate Society</h4></a>
                            <p class="card-text">The Penn Debate Society (PDS) was founded in 1984 as the Penn Parliamentary Debate Society and is the premier debate association on campus. While most tournaments we attend are in American Parliamentary style, we also send teams to British Parliamentary tournaments, most notably the World University Debate Championships (WUDC) where our teams have done exceptionally well in the past. PDS is a top-flight debate team and a diverse group of scholars, but more importantly, we are a family.</p>
                            <a href="http://www.dolphin.upenn.edu/debate/team.html" class="card-link" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-block">
                            <a href="#"><h4 class="card-title">Penn Running Club</h4></a>
                            <p class="card-text">In 2013, the Penn Running Club won the Half Marathon in the NIRCA Track National Championships, earned 7 All-American Honors, and placed 6th and 13th in the Men's and Women's NIRCA XC National Championships. With over 100 members, we are also the largest and one of the most successful sports club at the University of Pennsylvania.</p>
                            <a href="http://upenn.clubrunning.org/index.html" target="_blank">Website</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>