<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap-css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/custom-css.css">
        <title>Organizations</title>
        
        <!--test sticky to top js-->
        <script type='text/javascript'>
            var startFilterCardPos=-1;
            window.onscroll=function(){
                var filter = document.getElementById('filterCard');
                if(startFilterCardPos<0)startFilterCardPos=findPosY(filter);

                if(pageYOffset>startFilterCardPos){
                    filter.style.position='fixed';
                    filter.style.top=0;
                } else{
                    filter.style.position='relative';
                }
            };

            function findPosY(obj) {
                var curtop = 0;
                if (typeof (obj.offsetParent) != 'undefined' && obj.offsetParent) {
                    while (obj.offsetParent) {
                        curtop += obj.offsetTop;
                        obj = obj.offsetParent;
                    }
                    curtop += obj.offsetTop;
                }
                else if (obj.y)
                    curtop += obj.y;
                return curtop;
            }
    </script>
    </head>

    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="#">ClubHub</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="organizations.html">Organizations</a>
                <a class="nav-item nav-link" href="#">Events</a>
            </div>
        </div>
        </nav>
        
        <div class="hero-text-box" style="margin-top:30px;margin-bottom:30px;margin-left:100px;">
            <div class="row">
                <h1>Clubs & Organizations</h1>
                <ul class="main-nav" style="display:inline-block;float:right">
                    <a class="btn btn-outline" href="addNewClub.html">Add Club +</a>
                </ul>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" id="filterCard">
                        <h5 class="card-header">Filter by tags</h5>
                        <div class="card-block">
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Arts & Sciences</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Engineering</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Wharton</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Nursing</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" style="margin-right:10px">Sports</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-9">
                    <div class="card mb-3">
                        <a href="individualOrganizationPage.html"><h4 class="card-header">Wharton Investment and Trading Group (WITG)</h4></a>
                        <div class="card-block">
                            <p class="card-text">The Wharton Investment and Trading Group is dedicated to educating students about the basics of investing while providing a team structure that helps create an undergraduate investing community.</p>
                            <a href="http://www.pennwitg.com" class="card-link" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <a href="#"><h4 class="card-header">Penn Electric Racing</h4></a>
                        <div class="card-block">    
                            <p class="card-text">Penn Electric Racing is the University of Pennsylvania's Formula SAE Electric Team. Each year, we build award-winning electric racecars on a mission to prove that electric vehicles are the future of transportation.</p>
                            <a href="http://www.pennelectricracing.com" class="card-link" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <a href="#"><h4 class="card-header">Student Nurses At Penn (SNAP)</h4></a>
                        <div class="card-block">
                            <p class="card-text">SNAP is a chapter of the National Student Nurses Association. Our members have taken advantage of leadership opportunities at the state and national level, and have also presented resolutions at NSNA conventions.</p>
                            <a href="https://www.nursing.upenn.edu/snap" class="card-link" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <a href="#"><h4 class="card-header">Penn Debate Society</h4></a>
                        <div class="card-block">  
                            <p class="card-text">The Penn Debate Society (PDS) was founded in 1984 as the Penn Parliamentary Debate Society and is the premier debate association on campus. While most tournaments we attend are in American Parliamentary style, we also send teams to British Parliamentary tournaments, most notably the World University Debate Championships (WUDC) where our teams have done exceptionally well in the past. PDS is a top-flight debate team and a diverse group of scholars, but more importantly, we are a family.</p>
                            <a href="http://www.dolphin.upenn.edu/debate/team.html" class="card-link" target="_blank">Website</a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <a href="#"><h4 class="card-header">Penn Running Club</h4></a>
                        <div class="card-block">
                            <p class="card-text">In 2013, the Penn Running Club won the Half Marathon in the NIRCA Track National Championships, earned 7 All-American Honors, and placed 6th and 13th in the Men's and Women's NIRCA XC National Championships. With over 100 members, we are also the largest and one of the most successful sports club at the University of Pennsylvania.</p>
                            <a href="http://upenn.clubrunning.org/index.html" target="_blank">Website</a>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                              </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>