<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/styleHomepage.css">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/queries.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <title>ClubHub</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <img src="resources/img/logo-white.png" alt="ClubHub logo" class="logo">
                    <ul class="main-nav">
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hero-text-box">
                <h1>ClubHub</h1>
                <a class="btn btn-ghost" href="organizations.html">Organizations</a>
                <a class="btn btn-ghost" href="#">Events</a>
            </div>
        </header>
        
        <section class="section-about">
            <div class="row">
                <h2>The University of Pennsylvania's Official Club Information Website</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-2 about-box">
                    <img src="resources/img/app-iPhone.png" alt="Insert images of user page/club Page" class="app-screen">
                </div>
            </div>
        </section>
        
        <footer>
            <div class="row">
                <p>
                    Copyright &copy; 2017 by ClubHub. All rights reserved.
                </p>
            </div>
        </footer>
    </body>

    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
    
</html>
